* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  --semantic-error: #dc2626;

  --orange: #f9a474;
  --yellow: #fedf6f;
  --green: #c7d78d;
  --blue: #b8cedc;
  --violet: #c3b2e7;
  --pink: #f682a5;

  --font-family: "Poppins", sans-serif;
  --h1: 600 40px/125% var(--font-family);
  --h2: 600 24px/125% var(--font-family);
  --h3: 600 20px/125% var(--font-family);
  --h4: 600 16px/125% var(--font-family);
  --text: 400 16px/150% var(--font-family);
  --button: 500 16px/150% var(--font-family);
  --label: 400 14px/140% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
