.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--h4);
}

.label {
  font: var(--label);
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.gap-8 {
  gap: 8px;
}
.gap-24 {
  gap: 24px;
}
.gap-16 {
  gap: 16px;
}
